.dashboard {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.overview, .overallFinancialSummary {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.createCampaignLink {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.createCampaignLink:hover {
  background-color: #45a049;
}

.columnsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  flex: 1;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.column h2 {
  background-color: #4CAF50;
  color: white;
  margin: 0;
  padding: 15px;
  text-align: center;
}

.financialSummary, .microMatches, .pendingRequests, .campaigns {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.financialSummary:last-child, .microMatches:last-child, .pendingRequests:last-child, .campaigns:last-child {
  border-bottom: none;
}

h1, h2, h3 {
  color: #333;
}

h3 {
  margin-top: 0;
  color: #4CAF50;
  flex-shrink: 0;
  height: 30px;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.campaigns li h4 {
  margin: 0 0 10px 0;
  color: #4CAF50;
}

.campaigns li p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .columnsContainer {
    flex-direction: column;
  }
}